<br>
<ul id="answers-list">
<% @question.answers.each do |answer| %>
  <ul>
    <form action="/answers/<%= answer.id %>/up_votes" method="post">
      <input type="image" src='/images/grape-up-arrow.png' width="50">
    </form>
      <h3><%= answer.votes.sum(:count) %></h3>
    <form action="/answers/<%= answer.id %>/down_votes" method="post">
      <input type="image" src='/images/grape-down-arrow.png' width="50">
    </form>
    <% find_user_id = answer.user_id %>
    <%= User.find_by(id: find_user_id).username %> answered:
    </br>
    <%=answer.body%>
     <% if same_user(answer.user) %>
            <form action="/questions/<%=@question.id%>/answers/<%=answer.id%>" method="post"> <!--Delete Form -->
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete Answer">
            </form>
    <% end %>
    <ul>
      <%answer.comments.each do |comment|%>
        <li>
          <%=comment.body%>
          <% if same_user(comment.user) %>
            <form action="/questions/<%=@question.id%>/comments/<%=comment.id%>" method="post"> <!--Delete Form -->
              <input type="hidden" name="_method" value="delete">
              <input type="image" src="/images/delete-button.png" width="70">
            </form>
          <% end %>
        </li>
      <%end%>
    </ul>
    <% if logged_in? %>
      <h4>Create an answer comment</h4>
      <form method="post" action="/answers/<%=answer.id%>/comments">
        <input name="comment[body]" type="text" placeholder="Body">
        <input type="image" src="/images/button.png" width="40">
      </form>
      <br>
      <br>
    <% end %>
  </ul>
<% end %>
</ul>

