<br>
<% @question.answers.each do |answer| %>
  <ul>
    <% find_user_id = answer.user_id %>
    <%= User.find_by(id: find_user_id).username %> answered:
    </br>
    <%=answer.body%>
    <ul>
      <%answer.comments.each do |comment|%>
        <li>
          <%=comment.body%>
          <% if same_user(comment.user) %>
            <form action="/questions/<%=@question.id%>/comments/<%=comment.id%>" method="post"> <!--Delete Form -->
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete Comment">
            </form>
          <% end %>
        </li>
      <%end%>
    </ul>
  </ul>
  <% if logged_in? %>
        <h4>Create an answer comment</h4>
        <form method="post" action="/answers/<%=answer.id%>/comments">
          <input name="comment[body]" type="text" placeholder="Body">
          <input type="submit" value="Create">
        </form>
        <br>
        <br>
  <% end %>
<% end %>

