  <ul id="question-comments-list">
    <%@question.comments.each do |comment|%>
      <li>
          <form action="/comments/<%= comment.id %>/up_votes" method="post">
            <input type="submit" value="Upvote">
          </form>
          <h3><%= comment.votes.sum(:count) %></h3>
          <form action="/comments/<%= comment.id %>/down_votes" method="post">
            <input type="submit" value="Downvote">
          </form>
        <%=comment.body%>
        <% if same_user(comment.user) %>
          <form action="/questions/<%=@question.id%>/comments/<%=comment.id%>" method="post" class="delete-button"> <!--Delete Form -->
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Comment">
          </form>
        <% end %>
      </li>
    <%end%>
  </ul>
