<h1><%=@question.title%></h1>
<p><%=@question.body%></p>
<p>Views: <%=@question.view_count%></p>
<p>User: <%=User.find_by(id: @question.user_id)%></p>
<% if require_same_user %>
  <form action="/questions/<%=@question.id%>" method="post"> <!--Delete Form -->
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Your Question">
  </form>
  <form action="/questions/<%=@question.id%>" method="post"> <!--Edit Form -->
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Edit Your Question">
  </form>
<% end %>

