<h1><%=@question.title%></h1>
<p><%=@question.body%></p>
<p>Views: <%=@question.view_count%></p>
<p>User: <%=@user.username%></p>
<% if same_user(@question.user_id) %>
  <form action="/questions/<%=@question.id%>" method="post"> <!--Delete Form -->
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Your Question">
  </form>
  <a href="/questions/<%=@question.id%>/edit">Edit this question.</a>
<% end %>


