<section id="question-show">
  <h1><%=@question.title%></h1>
  <!-- <img class="grapes upvote" src="/images/grape-up-arrow.png"> -->
  <div class="vote-arrows">
  <form action="/questions/<%= @question.id %>/up_votes" method="post">
    <input type="image" src='/images/grape-up-arrow.png' width="100">
  </form>
  <h3><%= @votes %></h3>
  <form action="/questions/<%= @question.id %>/down_votes" method="post">
    <input type="image" src='/images/grape-down-arrow.png' width="100">
  </form>
  </div>
  <p id="question-body"><%=@question.body%></p>
  <!-- <img class="grapes downvote" src="/images/grape-down-arrow.png"> -->
  <div id="stats">
  <p>Views: <%=@question.view_count%></p>
  <p>Posted By: <a href="/users/<%=@user.id%>"><%=@user.username%></a></p>
  </div>
  <% if same_user(@question.user) %>
    <form action="/questions/<%=@question.id%>" method="post"> <!--Delete Form -->
      <input type="hidden" name="_method" value="delete">
      <input type="image" src="/images/delete-button.png" width="70">
    </form>
    <a href="/questions/<%=@question.id%>/edit">Edit this question.</a>
    <form action="/tags" method="post" id="add-tag"> <!-- Add new tag -->
      <input type="hidden" name="question_id" value="<%=@question.id%>">
      <input type="text" name="tag[name]" placeholder="Tag">
      <input type="image" src="/images/add-tag.png" width="70">
    </form>
  <% end %>

  <%= erb :"questions/_tag_feed"%>
  <div id="question-comments">
    <h4>Question Comments</h4>

    <%= erb :"questions/_comment_feed"%>
  <br>

  <% if logged_in? %>
    <h4>Create a  question comment</h4>
    <form method="post" action="/questions/<%=@question.id%>/comments" id="question_comment_form">
      <input name="comment[body]" type="text" placeholder="Body">
      <input type="image" src="/images/button.png" width="50">
    </form>

  <% end %>
  </div>


  <!--List of all answers-->
  <%= erb :"questions/_answer_feed"%>

  <!-- Answer form -->
  </br>
  Your Answer:
  <form method="post" action="/questions/<%=@question.id%>/answers">
    <input name="answer[body]" type="text" placeholder="Body">
    <input type="submit" value="Answer">
  </form>
</section>
