<h1><%=@question.title%></h1>
<p><%=@question.body%></p>
<p>Views: <%=@question.view_count%></p>
<p>User: <%=@user.username%></p>
<% if same_user(@question.user) %>
  <form action="/questions/<%=@question.id%>" method="post"> <!--Delete Form -->
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Your Question">
  </form>
  <a href="/questions/<%=@question.id%>/edit">Edit this question.</a>
  <form action="/tags" method="post"> <!-- Add new tag -->
    <input type="hidden" name="question_id" value="<%=@question.id%>">
    <input type="text" name="tag[name]" placeholder="Tag">
    <input type="submit" value="Add tag">
  </form>
<% end %>


<h4>Tags</h4>
<ul>
  <%@question.tags.each do |tag|%>
    <li><a href="/tags/<%=tag.id%>"><%=tag.name%></a></li>
  <%end%>
</ul>

<ul>
  <%@question.comments.each do |comment|%>
    <li>
      <%=comment.body%>
      <% if same_user(comment.user) %>
        <form action="/answers/:answer_id/comments/:id" method="post"> <!--Delete Form -->
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Comment">
        </form>
      <% end %>
    </li>
  <%end%>
</ul>

<!-- code not working -->
<br>
<% if logged_in? %>
  <h4>Comment: </h4>
  <form method="post" action="/questions/<%=@question.id%>/comments">
    <input name="comment[body]" type="text" placeholder="Body">
    <input type="submit" value="Create">
  </form>

<% end %>

