<div id="delete-user-form">

  <h2><%=@user.username%></h2>
  <h3><%=@user.email%></h3>

  <h4>Questions <%=@user.username%> Has Asked</h4>
  <ul>
    <% @user.questions.each do |question| %> <!-- Lists all the questions a user asked -->
    <li><a href="/question/<%=question.id%>"><%=question.title%></li>
    <%end%>
  </ul>

  <h4>Questions <%=@user.username%> Has Answered</h4>
  <ul>
    <% @user.answers.question.each do |question| %> <!-- Lists all the questions a user asked -->
    <li><a href="/question/<%=question.id%>"><%=question.title%></li>
    <%end%>
  </ul>

  <% if same_user %>
    <form action="/users/<%=@user.id%>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Your Profile" >
    </form>
  <% end %>
  <p>*We are sad to see you go!*</p>

</div>
