<div id="delete-user-form">

  <h2><%=@user.username%></h2>
  <h3><%=@user.email%></h3>

  <h4>Questions <%=@user.username%> Has Asked</h4>
  <ul>
    <% @user.questions.each do |question| %> <!-- Lists all the questions a user asked -->
    <li><a href="/question/<%=question.id%>"><%=question.title%></a></li>
    <%end%>
  </ul>

  <h4>Questions <%=@user.username%> Has Answered</h4>
  <ul>
    <% if !@user.answers.empty? %><!-- If the user answered any questions -->
    <%unique_questions = @user.answers.map{|answer| answer.question}.uniq%>
      <% unique_questions.each do |question| %> <!-- Lists all the answers a user answered -->
      <li><a href="/question/<%=question.id%>"><%=question.title%></a></li>
      <%end%>
    <% else %>
      <li>This user hasn't answered any questions yet.</li>
    <%end%>
  </ul>

  <% if same_user(@user.id) %>
    <form action="/users/<%=@user.id%>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Your Profile" >
    </form>
  <p>*We are sad to see you go!*</p>
  <% end %>

</div>
